
.imgproduct {
    /* float: left; */
    /* width:  100px; */
    /* height: 100%; */
    object-fit: cover;
}
.productBody{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 20%; */

}
div.productBody {
    /* border: 1px solid red; */
  }

.headerFirstTitle{
  height: 50px;
  background-color: #e74c3c;
  color: white;
  
  /* border: 0.5px solid; */
  padding-bottom: 1px;
  /* margin-bottom: 1px; */
  /* border-radius: 25px; */
  
}
.headerSecondTitle{
  height: 35px;
  background-color: #ffffff;
  color: white;
  
  /* border: 0.5px solid; */
  padding-bottom: 1px;
  /* margin-bottom: 1px; */
  /* border-radius: 25px; */
  
}
.bgColorGray{
  /* height: 20px; */
  background-color: #BDBDBD;

  /* text-align: center; */
  /* border: 0.5px solid; */
  /* padding-bottom: 1px; */
  /* margin-bottom: 1px; */
  /* border-radius: 25px; */
  
}
.marginCardProduct{
  margin-right: 5%;
}
