
.imgproduct {
    float: left;
    /* width:  100px; */
    height: 80%;
    object-fit: cover;
}
.productBody{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 20%; */

}
div.productBody {
    /* border: 1px solid red; */
  }
