
.imgproduct {
    float: left;
    /* width:  100px; */
    height: 80%;
    object-fit: cover;
}
.productBody{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 20%; */

}
div.productBody {
    /* border: 1px solid red; */
  }

.bottomCardBlue{
  height: 20px;
  background-color: #5cc6ba;
  color: white;
  text-align: center;
  border: 0.5px solid;
  padding-bottom: 1px;
  /* margin-bottom: 1px; */
  border-radius: 25px;
  
}
.bgColorGray{
  /* height: 20px; */
  background-color: #BDBDBD;

  /* text-align: center; */
  /* border: 0.5px solid; */
  /* padding-bottom: 1px; */
  /* margin-bottom: 1px; */
  /* border-radius: 25px; */
  
}
